<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Hello World!</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="shortcut icon" href="#"/>
</head>
<body>
<div class="main">
	<div class="form">
		<div class="header">
			<div class="toolbar"></div>
			<div class="buttons">
				<div id="minimizeButton"></div>
				<div id="maximizeButton"></div>
				<div id="closeButton"></div>
			</div>
		</div>
		<div class="delimeter"></div>
		<div class="content">
			<button id="btn" class="btn btn-outline-success">Generate</button>
			<canvas id="qrCanvas" hidden></canvas>
		</div>
	</div>
</div>
</body>
</html>
